
<footer>
  <div class="container p-4">
    <div class="row p-5">
      <div class="col-md-4 text-center">
        <div class="item">
          <h2>LOCATION</h2>
          <p>2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item text-center">
          <h2>AROUND THE WEB</h2>
          <div
            class="icons d-flex align-items-center justify-content-center gap-2"
          >
            <div class="icon">
              <i class="fa-brands fa-facebook"></i>
            </div>
            <div class="icon">
              <i class="fa-brands fa-twitter"></i>
            </div>
            <div class="icon">
              <i class="fa-brands fa-linkedin"></i>
            </div>
            <div class="icon">
              <i class="fa-solid fa-globe"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="item">
          <h2>ABOUT FREELANCER</h2>
          <p>
            Freelance is a free to use, licensed Bootstrap theme created by
            Route
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="line-foot">
    <p>Copyright © Your Website 2021</p>
  </div>
</footer>