<section>
    <div
      class="m-5 p-5 container d-flex justify-content-center gap-3 align-items-center flex-wrap flex-column"
    >
      <h2>CONTACT SECTION</h2>
      <div class="d-flex align-items-center justify-content-center gap-2">
        <div class="line"></div>
        <i class="fa-solid fa-star"></i>
        <div class="line"></div>
      </div>
      <label>User Name:</label>
      <input type="text" class="w-50 form-control" />
      <label>User Age:</label>
      <input type="text" class="w-50 form-control" />
      <label>User Email:</label>
      <input type="text" class="w-50 form-control" />
      <label>User Password:</label>
      <input type="text" class="w-50 form-control" />
      <button class="btn btn-success">Send Message</button>
    </div>
  </section>