<section>
    <div class="container m-5 position-relative">
      <div class="row g-3">
        <div class="col-md-4">
          <div class="item">
            <img src="../../assets/poert1 (1).png" class="w-100" alt="" />
            <div class="land">
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="item">
            <img src="../../assets/port2.png" class="w-100" alt="" />
            <div class="land">
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="item">
            <img src="../../assets/port3 (1).png" class="w-100" alt="" />
            <div class="land">
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="item">
            <img src="../../assets/images/poert1.png" class="w-100" alt="" />
            <div class="land">
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="item">
            <img src="../../assets/images/port2.png" class="w-100" alt="" />
            <div class="land">
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="item">
            <img src="../../assets/images/port3.png" class="w-100" alt="" />
            <div class="land">
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </div>
   
  </section>