<section class="home p-5 mt-5">
    <div
      class="container d-flex justify-content-center align-items-center flex-column"
    >
      <img src="./assets/images/avataaars.svg" class="w-25" alt="" />
      <h2>START FRAMEWORK</h2>
      <div class="d-flex align-items-center justify-content-center gap-2">
        <div class="line"></div>
        <i class="fa-solid fa-star"></i>
        <div class="line"></div>
      </div>
      <div>Graphic Artist - Web Designer - Illustrator</div>
    </div>
  </section>